#Mac
.DS_Store
[Oo]bj/
[Tt]emp/
[Ll]ibrary/
[Bb]uilds/
[Tt]est_Data/

#root
*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs
*.exe
GAME_Data/Managed/Assembly-CSharp.dll
GAME_Data/Managed/UnityEngine.dll
GAME_Data/Managed/mscorlib.dll
GAME_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
GAME_Data/Mono/etc/mono/1.0/machine.config
GAME_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
GAME_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
GAME_Data/Mono/etc/mono/2.0/machine.config
GAME_Data/Mono/etc/mono/2.0/settings.map
GAME_Data/Mono/etc/mono/2.0/web.config
GAME_Data/Mono/etc/mono/browscap.ini
GAME_Data/Mono/etc/mono/config
GAME_Data/Mono/etc/mono/mconfig/config.xml
GAME_Data/Mono/mono.dll
GAME_Data/PlayerConnectionConfigFile
GAME_Data/Resources/unity default resources
GAME_Data/Resources/unity_builtin_extra
GAME_Data/level0
GAME_Data/level1
GAME_Data/level10
GAME_Data/level11
GAME_Data/level12
GAME_Data/level13
GAME_Data/level14
GAME_Data/level15
GAME_Data/level16
GAME_Data/level17
GAME_Data/level18
GAME_Data/level19
GAME_Data/level2
GAME_Data/level20
GAME_Data/level3
GAME_Data/level4
GAME_Data/level5
GAME_Data/level6
GAME_Data/level7
GAME_Data/level8
GAME_Data/level9
GAME_Data/mainData
GAME_Data/output_log.txt
GAME_Data/resources.assets
GAME_Data/sharedassets0.assets
GAME_Data/sharedassets1.assets
GAME_Data/sharedassets10.assets
GAME_Data/sharedassets11.assets
GAME_Data/sharedassets12.assets
GAME_Data/sharedassets13.assets
GAME_Data/sharedassets14.assets
GAME_Data/sharedassets15.assets
GAME_Data/sharedassets16.assets
GAME_Data/sharedassets17.assets
GAME_Data/sharedassets18.assets
GAME_Data/sharedassets19.assets
GAME_Data/sharedassets2.assets
GAME_Data/sharedassets20.assets
GAME_Data/sharedassets21.assets
GAME_Data/sharedassets3.assets
GAME_Data/sharedassets4.assets
GAME_Data/sharedassets5.assets
GAME_Data/sharedassets6.assets
GAME_Data/sharedassets7.assets
GAME_Data/sharedassets8.assets
GAME_Data/sharedassets9.assets
